
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #28303b;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #00ccff;
    margin-top: 20px;
}

h2 {
    margin-top: 30px;
    color: #00ff62;
}

.card {
    background: rgb(50, 148, 204);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-top: 20px;
}

label {
    font-weight: bold;
    margin-top: 12px;
    display: block;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    margin-top: 12px;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    background: #003cff;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #36348b;
}

#btnAdicionar {
    background: #1f8d49;
}

#btnAdicionar:hover {
    background: #157236;
}

ul {
    list-style: none;
    padding-left: 0;
}

.lista-item {
    background: white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.btn-excluir {
    background: #d9534f !important;
}

.btn-excluir:hover {
    background: #b1312d !important;
}

#mapa {
    width: 100%;
    height: 450px;
    margin-top: 20px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}
